<section class="container" style="height: 100vh">
  <div style="height: 50px;"></div>
    <div class="arrow-back" style="margin-top: 20px">
        <a style="cursor: pointer; text-decoration: none" onclick="history.back(-1)"><i
                class="fa-solid fa-arrow-left fs-3"></i></a>
    </div>

    <div class="branch-title mt-4">
        <h5 class="text-start ms-2">Branches</h5>
    </div>

    <div class="branch mt-3 text-end me-2">
        <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addBranch">Create Branch<i
                class="fa-solid fa-code-branch ms-1"></i></button>
    </div>

    <div *ngIf="branches.length == 0" class="d-flex justify-content-center align-content-center mt-5 flex-column">
        <div class="d-flex justify-content-center align-content-center">
            <img src="assets/images/branch.png" width="350">
        </div>
        <h4 class="text-center my-5">No Branchs!</h4>
    </div>

    <div *ngIf="branches.length> 0" class="brands table-responsive text-center">
        <table class="table table-hover table-brand">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let branch of branches; let i= index" style="vertical-align: middle;">
                    <th scope="row">{{ i + 1 }}</th>
                    <td>{{ branch.name }}</td>
                    <td>{{ branch.phone }}</td>
                    <td>
                        <button class="btn me-1 border-0">
                            <img src="assets/images/edit2.png" data-bs-toggle="modal" data-bs-target="#editBranch"
                                (click)="getBranchWithId(branch.id)" width="30">
                        </button>
                        <button class="btn  border-0">
                            <img src="assets/images/delete.png" (click)="deleteBranch(branch.id)" width="30">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>

<!-- add branch -->

<div class="modal fade" id="addBranch" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Branch </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addBranchForm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input type="text" required="" class="form-control" placeholder="name" formControlName="name" aria-label="name" aria-describedby="basic-addon1" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Phone</span>
                        <input type="text" required="" class="form-control" placeholder="phone" formControlName="phone" aria-label="phone" aria-describedby="basic-addon2" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Manger</span>
                        <select #mgrId required (change)="onAddSelectMgrId($event)" class="form-select" aria-label="Default select example">
                            <option disabled selected>Select Manger</option>
                            <option *ngFor="let employee of employeees1; let i = index" [value]="employee.id">{{
                                employee.firstName +
                                ' ' + employee.lastName }}</option>
                        </select>
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Description</span>
                        <input type="text" required="" class="form-control" placeholder="description" formControlName="description" aria-label="description" aria-describedby="basic-addon2" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Sales Man</span>
                        <select #salsId required (change)="onAddSelectSalesId($event)" class="form-select" aria-label="Default select example">
                            <option disabled selected>Select Manger</option>
                            <option *ngFor="let employee of employeees2; let i = index" [value]="employee.id">{{
                                employee.firstName +
                                ' ' + employee.lastName }}</option>
                        </select>
                    </div>
                    <div class="table-responsive text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">opreations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sale of salesMan; let i = index" style="vertical-align: middle;">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ sale.firstName}}</td>
                                    <td>
                                        <a class="btn btn-outline-danger" (click)="removeFromSales(i, sale)"><i
                                                class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    <i class="fa-regular fa-circle-xmark"></i>
                </button>
                <button type="button" class="btn btn-outline-primary" (click)="addBranch()">
                    <i class="fa-regular fa-floppy-disk"></i>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- edit branch -->

<div class="modal fade" id="editBranch" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Branch </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editBranchForm">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input type="text" required="" class="form-control" placeholder="name" formControlName="name" aria-label="name" aria-describedby="basic-addon1" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Phone</span>
                        <input type="text" required="" class="form-control" placeholder="phone" formControlName="phone" aria-label="phone" aria-describedby="basic-addon2" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Manger</span>
                        <select #mgrId required (change)="onAddSelectMgrId($event)" class="form-select" formControlName="mgrid" aria-label="Default select example">
                            <option disabled selected>Select Manger</option>
                            <option *ngFor="let employee of employeees1; let i = index" [value]="employee.id">{{
                                employee.firstName +
                                ' ' + employee.lastName }}</option>
                        </select>
                    </div>


                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Description</span>
                        <input type="text" required="" class="form-control" placeholder="description" formControlName="description" aria-label="description" aria-describedby="basic-addon2" />
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon2">Sales Man</span>
                        <select #salsId required (change)="onEditSelectSalesId($event)" class="form-select" aria-label="Default select example">
                            <option disabled selected>Select Manger</option>
                            <option *ngFor="let employee of employeeesEdit; let i = index" [value]="employee.id">{{
                                employee.firstName
                                + ' ' + employee.lastName }}</option>
                        </select>
                    </div>
                    <div class="table-responsive text-center">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">opreations</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let sale of salesManEdit; let i = index" style="vertical-align: middle;">
                                    <th scope="row">{{ i+1 }}</th>
                                    <td>{{ sale.firstName}}</td>
                                    <td>
                                        <a class="btn btn-outline-danger" (click)="removeFromSalesEdit(i)"><i
                                                class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">
                    <i class="fa-regular fa-circle-xmark"></i>
                </button>
                <button type="button" class="btn btn-outline-primary" (click)="editBranch()">
                    <i class="fa-regular fa-pen-to-square"></i>
                </button>
            </div>
        </div>
    </div>
</div>
