<!-- <div *ngIf="isLoading | async" class="loading d-flex justify-content-center align-items-center h-100">
    <h1>Loading...</h1>
</div> -->
<section class="loading">
    <div class="main_body">
        <div class="sub_body">
            <span>
                <span></span>
            <span></span>
            <span></span>
            <span></span>
            </span>
            <div class="base">
                <span></span>
                <div class="face"></div>
            </div>
        </div>
        <div class="longfazers">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <!-- <h1>Loading</h1> -->
    </div>
</section>